marker{
  stroke:#999;
  fill:rgba(124,240,10,0);
}

.node-text{
  font:11px sans-serif;
  fill:black;
}

.link-text{
  font:9px sans-serif;
  fill:grey;
}

svg{
  height:76vh;
  border:3px solid rgb(78,45,207);
}

.node_deleted{
  stroke:#456;
  fill:green;
  stroke-width:2px;
}

